@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:wght@300;400;700&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Yellowtail&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #bdc3c7;
}


.navbar .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=2c3e50;');
}

.navbar .navbar-brand {
  font-family: 'Yellowtail', cursive;
  color: #2c3e50;
  text-decoration: none;
  font-weight: bold;
  font-size: xx-large;
}


.navbar .navbar-text .nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #2c3e50;
  text-decoration: none;
  font-weight: bold;
}

.navbar .navbar-text .nav-link:hover {
  border-bottom: 2px solid #B53471;
}

.sloganheader {
  font-family: 'Courgette', cursive;
  font-size: xx-large;
}

.highlighttext {
  color: #B53471;
}

.categories .card-title {
  background-color: #B53471;
  font-family: 'Courgette', cursive;
  height: 40px;
  border-radius: 25px;
}

.categories .card {
  transition: transform 0.5s;
}

.categories .card:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.categories .card img:hover {
  opacity: 0.7;
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.foodlist .seebtn {
  color: white;
  background-color: #B53471;
}

.foodlist {
  color: #B53471;
}

.titleheader2 {
  text-align: center;
}

.food .foodlogo {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
}

.food {
  border-bottom: 5px solid black;
}

.food4 {
  width: auto;
  height: 500px;
}

.side-content h1 {
  font-family: 'Lato', cursive;
  font-weight: 700px;
  font-size: 50px;
  color: #B53471;
}

.side-content h5,
h3 {
  font-family: 'Courgette', cursive;
  font-size: xx-large;
}

.fifty-chars {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.footer {
  background-color: #B53471;
  font-family: 'Courgette', cursive;
  font-size: 20px;
  font-weight: 100px;
}

.notfound {
  font-family: 'Lato', cursive;
  font-weight: 700px;
  font-size: 100px;
  color: #B53471;
}

.subfound {
  font-family: 'Courgette', cursive;
  font-weight: 700px;
}

.errorimg {
  width: 200px;
  height: 200px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #B53471;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}




/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}